@{
    Layout = "_Layout";
} 
@model HairSalon.Models.Client
@using HairSalon.Models

 <h1> Client Details: </h1>
    <h3>Client Name: @Model.Name</h3>
    <h3>Hair Type: @Model.HairType</h3>
    <h3>Service Needed: @Model.ServiceNeeded</h3>
