@{
    Layout = "_Layout";
}
@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<h1>✂️ Hello Claire ✂️</h1> 


<h3><em>What would you like to do today?</em></h3>
<h2>@Html.ActionLink("See all stylists", "Index", "Stylists")</h2>
<h2>@Html.ActionLink("See all clients", "Index", "Clients")</h2>

