@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Clients</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="/wwwrootcss/styles.css" rel="stylesheet" type="text/css" />
</head>

<div class = "container">
    <div class = "jumbotron">
        <h1>✂️ Hello Claire ✂️</h1> 
    </div>
    <h3><em>What would you like to do today?</em></h3>
    <h2>@Html.ActionLink("See all stylists", "Index", "Stylists")</h2>
    <h2>@Html.ActionLink("See all clients", "Index", "Clients")</h2>
</div>
