@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Clients</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="/wwwrootcss/styles.css" rel="stylesheet" type="text/css" />
</head>

<h1>Stylists</h1>

@if (@Model.Count == 0)
{
  <h3>You have not added any stylists yet.</h3>
} 

@foreach (Stylist stylist in Model)
{
  <li>@Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId })</li>
}

<h2>@Html.ActionLink("Add new stylist", "Create")</h2>

<h3>@Html.ActionLink("Home", "Index", "Home")</h3>
</div>